.device-metric .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-metric .icon .material-icons{
    font-size: 48px;
}

.device-metric .card-content {
    padding: 10px;
    text-align: center;
}

.device-metric .card-content .value{
    font-size: 40px;
    line-height: inherit;
    margin: 0;
}

.device-metric .card-content .unit{
    min-height: 24px;
}
